@model DotNet_Project9.Models.Register
@{
    ViewBag.Title = "Details";
}

<h2 class="text-primary text-center">User Details</h2>
<br />
<br />
<table class="table table-bordered table-hover table-striped tatable-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Subscribe</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Name </td>
            <td>@Model.Address</td>
            <td>@Model.Email</td>
            <td>@Model.Gender</td>
            <td>
                @*@item.Subscribe*@
                @Html.CheckBox("aa", Model.Subscribe, new { @disabled = "disabled" })
            </td>
            <td>@Model.City.Name</td>
            <td>@Model.City.State.Name</td>
            <td>@Model.City.State.Country.Name</td>
        </tr>

    </tbody>
</table>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
<br />
@Html.ActionLink("Back to list", "Index")

