

@model DotNet_Project9.Models.Register
@{
    ViewBag.Title = "Edit";
}

<h2 class="text-success text-center">EDIT USER</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<label class="col-lg-2 control-label">Radios</label>*@
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.Gender, "Male")
                        @*<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">*@
                        Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.Gender, "Female")
                        @*<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">*@
                        Female
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Subscribe, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Subscribe) Is Subscribe?
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.Subscribe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CountryId, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.CountryList, "Id", "Name"), "select Country", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StateId, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StateId, new SelectList(ViewBag.StateList, "Id", "Name"), "select State", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CityId, new { @class = "control-Label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.CityList, "Id", "Name"), "select City", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 col-md-offset-2">
            @Html.ActionLink("Back To List", "Index", "Register", new { @class = "btn btn-info" })
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/cascading.js"></script>
}
